@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    background: url(./imagens/frame-iphone.png) no-repeat;

    width: 311px;
    height: 627px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    width: 267px;
    height: 471px;
    position: relative;

    top: 80px;
    left: 22px; /*Centralizando a imagem */
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /* isso é para bordar fazer parte da caixa */
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transition: 3s, border 1s; /* definindo o tempo da bordar */
    transform: translate(-3px, -3px); /* para cima e para baixo */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}