@charset "UTF-8";

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

main {
    height: 100vh;
    background: url(imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
}

section#telefone {
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;

    height: 100vh;
    position: relative;

    left: 39%;
}